/* Css start for image logo  */

.logo {
    justify-content: center;
    padding-top: 30px;
}

.logo img {
    height: 55px;
}


/* Css end for image logo  */


/* css start for hadding  */

.title {
    justify-content: center;
    padding-top: 30px;
}


/* css end for hadding  */


/* css start for list  */

.list {
    padding-top: 30px;
}

.list ul {
    list-style-type: circle;
}


/* css end for list  */


/* css start for main div of image and caption */

.image-caption {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    margin-top: 30px;
}

.image {
    margin-left: 30px;
}

.content {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: 800;
    width: 215px;
    height: 315px;
    margin-bottom: 0px;
    color: white;
}

.figure-caption {
    background-color: lightslategray;
    padding: 0%;
    color: white;
}


/* css end for main div of image and caption */


/* css start for paragraph */

.paragraph {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 950px;
}


/* css end for paragraph */